#Python Tutorail
## Welcome to Python Tutorail
-Datatype

In [1]:
1+1

2

In [2]:
4*2

8

In [3]:
10%2

0

In [4]:
10*'str'

'strstrstrstrstrstrstrstrstrstr'

In [5]:
10**2

100

In [6]:
##check the date type

In [7]:
type(1)

int

In [9]:
type('hello')

str

In [10]:
type(10.2)

float

In [12]:
type('true')

str

In [13]:
type(True)

bool

In [14]:
type(False)

bool

In [15]:
##Srings

In [16]:
# srings can define with 'Hello' or "Hello"

In [17]:
#Variable Assignment

In [18]:
#synatax
#Var_name=values
#No need to type the datatypes in python,the complier will automatically understand the values

In [19]:
a=10

In [23]:
type(a)

int

In [24]:
a='shinoj_tharol'

In [25]:
type(a)

str

In [31]:
##mathematcial operation with variable assignment
##Bodmas Rule

In [27]:
a=10
b=20

In [28]:
print(a+b)

30

In [29]:
print(a-b)

-10

In [30]:
print(a/b)

0.5

In [32]:
##Various ways of printing

In [33]:
print('hello')

hello

In [34]:
first_name='shinoj'
last_name='tharol'

In [40]:
print('my first name is {} and last name is {}'.format(first_name,last_name))

my first name is shinoj and last name is tharol

In [41]:
print('my first name is {first} and last name is {last}'.format(first=first_name,last=last_name))

my first name is shinoj and last name is tharol

In [42]:
#length

In [43]:
len('shinoj')

6

In [44]:
#boolean variable

In [48]:
type('True')

str

In [49]:
type(True)

bool

In [50]:
type(False)

bool

In [51]:
my_str='shinoj'

In [54]:
##Lists

#A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [55]:
type([])

list

In [56]:
lst_example=[]

In [57]:
type(lst_example)

list

In [58]:
lst=list()

In [59]:
type(lst)

list

In [60]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [61]:
len(lst)

6

In [62]:
## Inbuild functions in Lists

In [63]:
#Append
##.append is used to add elements in the list (end of the list)

In [65]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [72]:
lst.append("Krish")

In [73]:
lst.append(["John","Bala"])

In [1]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [4]:
##Indexing in List
lst[6]

['John', 'Bala']

In [5]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [8]:
len(lst)

6

In [9]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

In [10]:
##Insert

In [13]:
## insert in a specific order
lst.insert(2,"shinoj")

In [14]:
lst

['Mathematics', 'chemistry', 'shinoj', 'Naik', 100, 200, 300, 204]

In [15]:
['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Shinoj',
 ['John', 'Bala']]

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Shinoj',
 ['John', 'Bala']]

In [17]:
lst.append(["Hello","World"])

In [18]:
lst

['Mathematics',
 'chemistry',
 'shinoj',
 'Naik',
 100,
 200,
 300,
 204,
 ['Hello', 'World'],
 ['Hello', 'World']]

In [19]:
lst=[1,2,3]

In [20]:
lst.append([4,5])

In [21]:
lst

[1, 2, 3, [4, 5]]

In [22]:
##Extend Method

In [23]:
lst=[1,2,3,4,5,6]

In [24]:
lst.extend([8,9])

In [25]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [26]:
##Various Operations that we can perform in List

In [27]:
lst=[1,2,3,4,5]

In [28]:
sum(lst)

15

In [29]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [30]:
##Pop() Method

In [31]:
lst.pop()

5

In [32]:
lst

[1, 2, 3, 4]

In [33]:
lst.pop(0)

1

In [34]:
lst

[2, 3, 4]

In [35]:
##count():Calculates total occurrence of given element of List

In [36]:
lst=[1,1,2,3,4,5]

In [37]:
lst.count(1)

2

In [38]:
#length:Calculates total length of List

In [39]:
len(lst)

6

In [40]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [41]:
##Min and Max
min(lst)

1

In [42]:
max(lst)

5

In [43]:
##SETS

In [44]:
##A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [45]:
# Defining an empy set
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [46]:
set_var={1,2,3,4,3}

In [47]:
set_var

{1, 2, 3, 4}

In [48]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set

In [51]:
## Inbuilt function in sets

set_var.add("Hulk")

In [52]:
print(set_var)

{'Hulk'}

In [53]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [54]:
set2.intersection_update(set1)

In [55]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [56]:
##Difference 
set2.difference(set1)

set()

In [57]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [58]:
## Difference update

set2.difference_update(set1)

In [59]:
print(set2)

set()

In [60]:
##Dictionaries

In [61]:
##A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [62]:
dic={}

In [63]:
type(dic)

dict

In [64]:
type(dict())

dict

In [65]:
set_ex={1,2,3,4,5}

In [66]:
type(set_ex)

set

In [67]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [68]:
type(my_dict)

dict

In [69]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [70]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [71]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [72]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [73]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [74]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [75]:
my_dict['Car1']='MAruti'

In [76]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [77]:
##Nested Dictionary

In [78]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [79]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [80]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [81]:
print(car_type['car1']['Mercedes'])

1960

In [82]:
##Tuples

In [83]:
## create an empty Tuples

my_tuple=tuple()

In [84]:
type(my_tuple)

tuple

In [85]:
my_tuple=()

In [86]:
type(my_tuple)

tuple

In [87]:
my_tuple=("Krish","Ankur","John")

In [88]:
my_tuple=('Hello','World')

In [89]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [90]:
type(my_tuple)

tuple

In [91]:
## Inbuilt function
my_tuple.count('Krish')

0